%h1 Listing todo_items

%table
  %thead
    %tr
      %th Project
      %th Text
      %th Checked
      %th
      %th
      %th

  %tbody
    - @todo_items.each do |todo_item|
      %tr
        %td= todo_item.project_id
        %td= todo_item.text
        %td= todo_item.checked
        %td= link_to 'Show', todo_item
        %td= link_to 'Edit', edit_todo_item_path(todo_item)
        %td= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Todo item', new_todo_item_path
