= form_with(model: user) do |form|
  - if user.errors.any?
    = render partial: 'shared/validation_errors_alert', locals: { record: user }

  .mb-3
    = form.label :name, :class => 'form-label'
    = form.text_field :name, :class => 'form-control'
  .mb-3
    = form.submit 'Save', :class => 'btn btn-outline-primary'
