.container
  .col-4.mx-auto
    %h3.border-bottom
      Update Password
    = form_with(model: current_user, url: change_password_user_path(current_user), method: :post) do |form|
      - if current_user.errors.any?
        = render partial: 'shared/validation_errors_alert', locals: { record: current_user }

      .mb-3
        = form.label :old_password, :class => 'form-label'
        = form.password_field :old_password, :class => 'form-control'
      .mb-3
        = form.label :new_password, :class => 'form-label'
        = form.password_field :new_password, :class => 'form-control'
      .mb-3
        = form.label :new_password_confirmation, :class => 'form-label'
        = form.password_field :new_password_confirmation, :class => 'form-control'

      .mb-3
        = form.submit 'Save', :class => 'btn btn-outline-primary'
