= form_with(model: project) do |form|
  - if project.errors.any?
    = render partial: 'shared/validation_errors_alert', locals: { record: project }

  .mb-3
    = form.label :name, :class => 'form-label'
    = form.text_field :name, :class => 'form-control'
  .mb-3
    = form.label :description, :class => 'form-label'
    = form.text_area :description, :class => 'form-control', rows: 20
  .mb-3
    = form.submit 'Save Project', :class => 'btn btn-outline-primary'
