<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Codename:</strong>
    <%= project.codename %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

  <p>
    <strong>Locked:</strong>
    <%= project.locked %>
  </p>

  <p>
    <strong>Locked at:</strong>
    <%= project.locked_at %>
  </p>

</div>
