.container{style: 'font-size: 0.8em'}
  .row.border-bottom.pb-1
    .col.border-end
      .text-secondary.fst-italic Project Details
    .col.border-end
      .text-secondary.fst-italic= "Created #{time_ago_in_words(@project.created_at)} ago"
    .col.border-end
      .text-secondary.fst-italic= "Updated #{time_ago_in_words(@project.updated_at)} ago"
    .col.border-end
      .text-secondary.fst-italic= "Entries: #{@project.entries.count}"
    .col
      .text-secondary.fst-italic= "By: #{@project.user.name || @project.user.email}"

  .row.pt-1
    .col
      %h3
        = link_to icon('fa-solid', 'arrow-left'), @project
        = @project.name
    .col.text-end
      .mt-2= render partial: 'status_badge', locals: { record: @project }

.container.border
  .trix-content= @project.description

.container.mt-5
  %h3.border-bottom
    Assets
    = link_to icon('fa-solid', 'plus'), upload_file_asset_project_path(@project), class: 'btn btn-sm btn-outline-primary', title: 'New Asset'

  - if @project.file_assets.empty?
    .text-body-secondary.fst-italic No assets yet    
  - @project.file_assets.each do |file_asset|
    .border-bottom.d-inline-block.w-100.pb-2
      .float-start
        .p-3.fs-3.d-inline= icon('fa-solid', 'file')
      .float-start
        %div= file_asset.blob.filename
        .fw-light.text-body-secondary{style: 'font-size: 0.8em'}= file_asset.blob.content_type
      .float-end
        .float-end.ms-1= button_to icon('fa-regular', 'trash-can'), destroy_file_asset_project_path(@project, file_asset_id: file_asset.id), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-sm btn-outline-danger', title: 'Delete'
        .float-end= link_to icon('fa-solid', 'download'), download_file_asset_project_path(@project, file_asset_id: file_asset.id), class: 'btn btn-sm btn-outline-primary', title: 'Download', target: '_blank'


.container.mt-5
  %h3.border-bottom
    Resources
    = link_to icon('fa-solid', 'plus'), new_resource_link_path(project_id: @project.id), class: 'btn btn-sm btn-outline-primary', title: 'New Link'
  - if @project.resource_links.empty?
    .text-body-secondary.fst-italic No links yet
  - @project.resource_links.each do |link|
    .border-bottom.d-inline-block.w-100.pb-2
      .float-start
        .p-3.fs-3.d-inline= icon('fa-solid', 'link')
      .float-start
        %div= link.title
        .fw-light.text-body-secondary{style: 'font-size: 0.8em'}= link_to link.link, link.link, target: '_blank'
      .float-end
        .float-end.ms-1= button_to icon('fa-regular', 'trash-can'), link, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-sm btn-outline-danger', title: 'Delete'
        .float-end= link_to icon('fa-solid', 'pencil'), edit_resource_link_path(link), class: 'btn btn-sm btn-outline-primary', title: 'Edit'
