.container-fluid.border-bottom.px-0
  .row
    .col
      %h3
        = @project.name
    .col.text-end
      = render partial: 'status_badge', locals: { record: @project }
      = link_to icon('fa-solid', 'pencil'), edit_project_path(@project), class: 'btn btn-sm btn-outline-primary'
      - if @project.locked?
        = link_to icon('fa-solid', 'unlock'), '#', class: 'btn btn-sm btn-outline-danger'
      - else
        = link_to icon('fa-solid', 'lock'), '#', class: 'btn btn-sm btn-outline-danger'


.container-fluid.d-none
  %pre= @project.description

.container-fluid.px-0.mt-5
  .row
    .col.border-end
      %h4
        Sessions
        = link_to icon('fa-solid', 'plus'), new_entry_path(project_id: @project.id), class: 'btn btn-sm btn-outline-primary'
      - if @project.entries.empty?
        .container.fst-italic No entries yet
      - @project.entries.order('date DESC').each do |entry|
        .container.mb-4
          .fs-4.border-bottom.pb-1
            .row
              .col
                = entry.date
                - unless entry.hours.blank?
                  .badge.text-bg-secondary= "#{entry.hours} h"
                - if entry.status_pending?
                  .badge.text-bg-primary= entry.status.upcase
                - elsif entry.status_booting? || entry.status_ongoing? || entry.status_finished?
                  .badge.text-bg-success= entry.status.upcase
                - elsif entry.status_paused?
                  .badge.text-bg-warning= entry.status.upcase
                - elsif entry.status_blocked? || entry.status_closed? || entry.status_abandoned?
                  .badge.text-bg-danger= entry.status.upcase
              .col.text-end
                = link_to icon('fa-solid', 'pencil'), edit_entry_path(entry), class: 'btn btn-sm btn-outline-primary'
                .float-end.mx-1= button_to icon('fa-solid', 'minus'), entry, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-sm btn-outline-danger'

          .border-bottom
            %pre{ :style => 'text-wrap: balance' }= entry.body

    .col-4
      %h4 TODO Overview
      %ul
        %li Thing 1
        %li Thing 2
        %li Thing 3
        %li Thing 4
