.container-fluid.border-bottom.px-0
  .row
    .col
      %h3
        = @project.name
    .col.text-end
      = render partial: 'status_badge', locals: { record: @project }
      = link_to icon('fa-solid', 'pencil'), edit_project_path(@project), class: 'btn btn-sm btn-outline-primary', title: 'Edit'
      = link_to icon('fa-solid', 'magnifying-glass'), details_project_path(@project), class: 'btn btn-sm btn-outline-primary', title: 'Details'
      - if @project.locked?
        = link_to icon('fa-solid', 'unlock'), '#', class: 'btn btn-sm btn-outline-danger', title: 'Unlock'
      - else
        = link_to icon('fa-solid', 'lock'), '#', class: 'btn btn-sm btn-outline-danger', title: 'Lock'

.container-fluid.px-0.mt-5
  .row
    .col.border-end
      %h4
        Entries
        = link_to icon('fa-solid', 'plus'), new_entry_path(project_id: @project.id), class: 'btn btn-sm btn-outline-primary', title: 'New Entry'
      - if @project.entries.empty?
        .container.fst-italic No entries yet
      - @project.entries.order('date DESC').each do |entry|
        .container.mb-4
          .fs-4.border-bottom.pb-1
            .row
              .col
                = entry.date
                - unless entry.hours.blank?
                  .badge.text-bg-secondary= "#{entry.hours} h"
                - if entry.status_pending?
                  .badge.text-bg-primary= entry.status.upcase
                - elsif entry.status_booting? || entry.status_ongoing? || entry.status_finished?
                  .badge.text-bg-success= entry.status.upcase
                - elsif entry.status_paused?
                  .badge.text-bg-warning= entry.status.upcase
                - elsif entry.status_blocked? || entry.status_closed? || entry.status_abandoned?
                  .badge.text-bg-danger= entry.status.upcase
              .col.text-end
                = link_to icon('fa-solid', 'pencil'), edit_entry_path(entry), class: 'btn btn-sm btn-outline-primary', title: 'Edit'
                .d-inline-block.float-end.mx-1= button_to icon('fa-regular', 'trash-can'), entry, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-sm btn-outline-danger', title: 'Delete'

          .border-bottom
            .trix-content= entry.body

    .col-4
      %h4 TODO Overview
      = render partial: 'todo_items/form', locals: { todo_item: TodoItem.new(project_id: @project.id) }
      %hr
      - if @project.todo_items.empty?
        .container.fst-italic Nothing to do yet :p
      - else
        %ul.list-group.list-group-flush.fs-5
          - @project.todo_items.order('created_at ASC').each do |item|
            %li.list-group-item.px-0
              - if item.checked?
                %span.me-2
                  = link_to icon('fa-regular', 'square-check'), flip_todo_item_path(item), data: { turbo_method: :post }
                %span.text-secondary.text-decoration-line-through= item.text
              - else
                %span.me-2
                  = link_to icon('fa-regular', 'square'), flip_todo_item_path(item), data: { turbo_method: :post }
                %span= item.text
              %span.d-inline-block.float-end.mx-1= button_to icon('fa-regular', 'trash-can'), item, method: :delete, class: 'btn btn-sm btn-outline-danger', title: 'Delete'
