.border-bottom.fs-5.text-secondary.fst-italic.my-2  Open Projects
%table.table.mb-5
  %tbody
    - if current_user.projects.empty?
      %i No projects yet
    - current_user.projects.open.order('updated_at DESC').each do |project|
      %tr
        %td= project.id
        %td= project.name
        %td= render partial: 'projects/status_badge', locals: { record: project }
        %td= project_last_updated_at(project)
        %td
          = link_to 'Open', project_path(project), class: 'btn btn-primary btn-sm float-end'

.border-bottom.fs-5.text-secondary.fst-italic.my-2  Closed Projects
%table.table
  %tbody
    - if current_user.projects.empty?
      %i No projects yet
    - current_user.projects.closed.each do |project|
      %tr
        %td= project.id
        %td= project.name
        %td= render partial: 'projects/status_badge', locals: { record: project }
        %td= project_last_updated_at(project)
        %td
          = link_to 'View', project_path(project), class: 'btn btn-primary btn-sm float-end'
