!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Project Logger
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = favicon_link_tag asset_path('favicon_250x250.png')
  %body
    .container-fluid.p-0
      = render 'application/nav_header'
    = render 'application/flash'
    .container-fluid.mt-5
      = yield
